<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<div class="container">

<pre>
 __                           ______                      ______   ________  ________  _______  
/  |                         /      \                    /      \ /        |/        |/       \ 
$$ |  ______   _____  ____  /$$$$$$  |  ______          /$$$$$$  |$$$$$$$$/ $$$$$$$$/ $$$$$$$  |
$$ | /      \ /     \/    \ $$ ___$$ | /      \  ______ $$ |  $$/    $$ |   $$ |__    $$ |  $$ |
$$ | $$$$$$  |$$$$$$ $$$$  |  /   $$< /$$$$$$  |/      |$$ |         $$ |   $$    |   $$ |  $$ |
$$ | /    $$ |$$ | $$ | $$ | _$$$$$  |$$ |  $$/ $$$$$$/ $$ |   __    $$ |   $$$$$/    $$ |  $$ |
$$ |/$$$$$$$ |$$ | $$ | $$ |/  \__$$ |$$ |              $$ \__/  |   $$ |   $$ |      $$ |__$$ |
$$ |$$    $$ |$$ | $$ | $$ |$$    $$/ $$ |              $$    $$/    $$ |   $$ |      $$    $$/ 
$$/  $$$$$$$/ $$/  $$/  $$/  $$$$$$/  $$/                $$$$$$/     $$/    $$/       $$$$$$$/  
                                                                                                
                                                                                                

</pre>                                                                                                
</div>
<center>{% if not session.get('userid') %}<a href="/login">Login/Register</a>{% else %}<a href="/logout">Logout</a> || <a href="/problems">Problems</a>{% endif %} || <a href="/scores">Scoreboard</a></center>
